.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}
.swipe .dots{
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 5px;
	left: 0;
	text-align: center;
	z-index: 1;
}
.swipe .dots li{
	display: inline-block;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	text-indent: -9999em;
	background-color: #eee;
	margin: 0 3px;
}
.swipe .dots li.active{
	background-color: red;
}